body{
    font-family: "Poppins",Arial,sans-serif;
    /* background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
    ),
    url(../images/lum3n--RBuQ2PK_L8-unsplash.jpg); */
    background-image: url(../images/lum3n--RBuQ2PK_L8-unsplash.jpg);
    background-size: 205vh 50vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
#grid{
    margin: auto;
    text-align: center;
    width: 60vw;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid rgba(0, 0, 0, 0.5);
}
.fields{
    margin: auto;
    width: 45vw;
    text-align: left;
    background-color: transparent;
    border: 1px solid black;
    border-collapse: collapse;
}
#text-area{
    border: 0px;
    width: 45vw;
    padding-left: 40px;
    background-color: transparent;
    color: black;
}
#parent{
    display: grid; 
    grid-template-columns: 1fr 1fr;  
}
#create-btn{
    background: #46b5d1;
    border-color: #46b5d1!important;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    margin-top: 16px;
    font-family: cursive;
    width: 150px;
    height: 30px;
}

#create-btn:hover{
    background-color: turquoise;
}

li{
    list-style: none;
    margin-top: 15px;
    font-family: cursive;
    padding-bottom: 10px;
    width: 55vw;
    background-clip: padding-box;
    border: 1px dashed black;
    border-top: none;
    border-left: none;
    border-right: none;
}

select{
    border: none;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 200px;
    text-align: center;
    opacity: 70%;
    background-color: transparent;
    color: black;
}

input{
    border: none;
    margin-bottom: 10px;
    margin-left: 100px;
    font-style: italic;
    width: 125px;
    opacity: 70%;
    background-color: transparent;
    color: black;
}

#page-heading{
    font-family: cursive;
}

#delete-btn{
    color: black;
}

#delete-btn:hover{
    color: red;
}

#heading{
    font-family: cursive;
    text-align: center;
}

form{
    background-clip: padding-box;
    border: 2px dashed black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 16px;
}

#delete{
    float: right;
    width: 8%;
}

#align{
    padding-right: 10%;
}

